@keyframes intro_ani {
    0% {
        margin-right: 300%;
        content: var(--img1);
    }

    5% {
        margin-right: 0px;
        content: var(--img1);
    }

    10% {
        margin-right: 0px;
        content: var(--img1);
    }

    20% {
        margin-right: 0px;
        content: var(--img1);
    }

    30% {
        margin-right: 0px;
        content: var(--img1);
    }

    35% {
        margin-right: 300%;
        content: var(--img1);
    }

    36% {
        content: var(--img2);
    }

    40% {
        margin-right: 0px;
        content: var(--img2);
    }

    50% {
        margin-right: 0px;
        content: var(--img2);
    }

    60% {
        margin-right: 0px;
        content: var(--img2);
    }

    65% {
        margin-right: 300%;
        content: var(--img2);
    }

    66% {
        content: var(--img3);
    }

    70% {
        margin-right: 0px;
        content: var(--img3);
    }

    80% {
        margin-right: 0px;
        content: var(--img3);
    }

    90% {
        margin-right: 0px;
        content: var(--img3);
    }

    95% {
        margin-right: 0px;
        content: var(--img3);
    }

    100% {
        margin-right: 300%;
        content: var(--img3);
    }
}
@keyframes bounce2 {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}