@media only screen and (max-width: 450px) {

    /*Header*/
    .links {
        width: 0%;
        display: none;
    }
    .tools{
        width: 0%;
        display: none;
    }
    .menu{
        display: flex;
        width: 20%;
        align-items: center;
        justify-content: center;
        font-size: large;
        color: #f4f4f4;
    }
    .menu-icon{
        font-size: 35px !important;
    }
    .lar{
        font-size: 40px;
    }
    .logo{
        width: 80%;
    }
    /*intro*/
    .intro-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .intro-left{
        height: 20%;
        width: 80%;
        margin: auto;
    }
    .intro-right{
        height: 50%;
        width: 90%;
    }
    .intro-para-title {
        font-size: 35px;
    }
    .intro-desc{
        font-size: 25px;
    }
    .searchbar{
        margin: auto;
    }
    .search{
        width: 80%;
    }
    .search-icon{
        width: 10%;
        margin-left: auto;
    }

    /*Sections*/
    /*infocards*/
    .info-blocks{
        height: 100%;
        margin: auto;
        display: flex;
    }
    .footcardss{
        flex-direction: column;
        margin: auto;
    }
    .shortcut {
        display: none;
    }
    .cardd1{
        height: 120px;
        margin: auto;
        width: 60%;
        margin-top: 40px;
    }
    .cardd1:hover {
        height: 250px;
        transform: translateY(-20px);
    }
    .cardimg {
        block-size: 60px;
        border-radius: 10px;
        transform: translateY(-10px);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
    }
    /*Footerimg*/
    .footimg{
        display: flex;
        flex-direction: column;
        height: 80%;
    }
    .img_foot{
        width: 80%;
        height: 50%;
        margin: auto;
    }
    .img_foot img{
        width: 100%;
    }
    .footerr1{
        height: 50%;
        width: 80%;
        margin: auto;
        align-items: center;
    }
    .footerr1 h1{
        font-size: 35px;
    }
    .foot{
        height: 20%;
    }
    .logofoot{
        width: 100%;
    }
    .aboutus, .quicklinks, .contactus{
        display: none;
    }
}