@import url('https://fonts.googleapis.com/css2?family=Labrada:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --font: #05386B;
    --theme: #379683;
    --dtheme: #050706;
    --panel: #EDF5E1;
    --bg: #fffff;
    --foot: #193326;
}

* {
    margin: 0px;
    padding: 0px;
    transition: 0.7s;
    
}

body {
    background-color: var(--bg);
    overflow-x: hidden;


}

/*MAIN-DIVS*/
.head {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 80px;
    color: var(--font);
}

.body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foot {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 20px;
}


/*HEADER*/
/*LOGO*/
.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-content {
    font-size: 40px;
    font-family: 'Phudu', cursive;
}

.logo-content img {
    width: 100%;
}

/*LINKS*/
.links {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Labrada', serif;
}

.link {
    margin: 20px;
    position: relative;
    padding: 5px 5px;
    cursor: pointer;

}

.link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.175rem;
    background-color: var(--theme);
    left: 0;
    bottom: 0px;
    transform: scale(0, 1);
    transition: 300ms ease;
}

.link:hover:after {
    transform: scale(1, 1);

}




/*TOOLS*/
.tools {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #000000;
}

.tool {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
    overflow: hidden;
}



/*BODY*/
/*INTRO*/
.intro {
    width: 95%;
    justify-content: center;
    align-items: center;
    font-family: 'Phudu', cursive;
    color: var(--font);
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    height: 450px;
    overflow: hidden;

}

.intro-left {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro-right {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.introimg {
    width: 90%;
}

.introimg img {
    width: 100%;
}

/*INTRO_ANIMATION*/
.introimg {
    animation: intro_ani 15s ease infinite;
    margin-right: 800px;
}

@keyframes intro_ani {
    0% {
        margin-right: 1000px;
        content: url("1.jpg");
    }

    5% {
        margin-right: 0px;
        content: url("1.jpg");
    }

    10% {
        margin-right: 0px;
        content: url("1.jpg");
    }

    20% {
        margin-right: 0px;
        content: url("1.jpg");
    }

    30% {
        margin-right: 0px;
        content: url("1.jpg");
    }

    35% {
        margin-right: 1000px;
        content: url("1.jpg");
    }

    36% {
        content: url("2.jpg");
    }

    40% {
        margin-right: 0px;
        content: url("2.jpg");
    }

    50% {
        margin-right: 0px;
        content: url("2.jpg");
    }

    60% {
        margin-right: 0px;
        content: url("2.jpg");
    }

    65% {
        margin-right: 1000px;
        content: url("2.jpg");
    }

    66% {
        content: url("3.jpg");
    }

    70% {
        margin-right: 0px;
        content: url("3.jpg");
    }

    80% {
        margin-right: 0px;
        content: url("3.jpg");
    }

    90% {
        margin-right: 0px;
        content: url("3.jpg");
    }

    95% {
        margin-right: 0px;
        content: url("3.jpg");
    }

    100% {
        margin-right: 1000px;
        content: url("3.jpg");
    }
}

/*INTRO_PARA*/
.intro-para-title {
    font-size: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.intro-desc {
    font-size: 30px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Neucha', cursive;

}

.searchbar {
    margin-top: 80px;
    width: 90%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    border: 2px solid var(--theme);

}

.search {
    width: 95%;
}

.search input {
    width: 100%;
    height: 10px;
    border-radius: 10px;
    border: none;
    padding: 20px;
    font-size: 20px;
}

.searchbar input:focus {
    outline: none;
}

.search-icon {
    width: 5%;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.downarrow {
    margin-top: 40px;
    animation: bounce2 2s ease infinite;
}

@keyframes bounce2 {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}

/*INFO*/
.info-blocks {
    width: 100%;
    margin-top: 150px;
}

/*FOOTIMAGE*/
.footimg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0px;  
    width: 80%;
}
.footimgg {
    width: 50%;
}
.footimgg img{
    width: 100%;
}

.footerr1 {
    font-family: 'poppins', sans-serif;
    margin-left: auto;
    width: 35%;
}

.footerr1 h1,
p {
    margin-bottom: 10px;

}

.footerr1 h1 {
    font-size: 42px;
}

.footertext {
    font-size: 16px
}

.footbtn {
    padding: 10px 30px 10px 30px;
    background-color: var(--theme);
    width: fit-content;
    color: #f4f4f4;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 30px;
}


/*FOOTER*/
/*DISPLAY*/
.aboutus {
    font-family: 'poppins', sans-serif;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: auto;
}

.logofoot {
    font-family: 'Phudu', cursive;
    font-size: 20px;
    margin-left: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hr1 {
    width: 18%;
    margin-top: 20px;
    margin-bottom: 20px;

}

.hr2 {
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;

}

.hr3 {
    width: 36%;
    margin-top: 20px;
    margin-bottom: 20px;

}

.aboutus p {
    font-size: 15px;

}

.quicklinks {
    font-family: 'poppins', sans-serif;
    margin-left: 90px;
    margin-top: 10px;
    margin-bottom: auto;
}

.contactus {
    font-family: 'poppins', sans-serif;
    margin-left: 90px;
    margin-top: 10px;
    margin-bottom: auto;
    margin-right: 50px;
}

.mail {
    block-size: 20px;
    margin-right: 10px;
    margin-top: -5px;
}

.email {
    display: flex;
    align-items: center;
    margin-left: 2px;
    margin-top: 10px;
}

.home {
    block-size: 23px;
    margin-right: 8px;
    margin-left: -1px;
    margin-top: -12px;
}

h4 {
    color: #088178;
}

.footerbodyy {
    display: flex;
    margin-left: 50px;
    align-items: center;
    margin-top: 30%;
    margin-bottom: 20px;
}

.li {
    margin-top: 10px;

}

a {
    text-decoration: none;
    color: black;
}


/*SETTINGS*/
.settings-panel {
    position: fixed;
    top: 0px;
    right: -40px;
    height: 100%;
    opacity: 10%;
    width: 0%;
    margin-left: 120%;
    transition: 0.4s;
    background-color: var(--panel);
    
}

.sp-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
}

#toggle {
    cursor: grab;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: grab;
}

.cur {
    cursor: grab;
}

.sp-block {
    padding: 20px;
    width: 100%;
    height: auto;
}

.sp-block-head {
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
}

.toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.t {
    margin: 5px;
}

.scopy {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-family: 'Oswald', sans-serif;
}

/*PROFILE-PANEL*/
.profile-panel {
    position: absolute;
    top: 10px;
   right: -40px;
    display: flex;
    flex-direction: column;
    width: 0%;
    margin-left: 100%;
    background-color: var(--panel);
    border-radius: 10px;
    opacity: 10%;
}

.pp-header {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px;
    margin-left: 20px;
}

.pp-header-content {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.account-dp {
    width: 20%;
}

.account-dp-image {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.account-dp img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.account-cred {
    width: 80%;
    font-family: 'Oswald', sans-serif;
    color: var(--font);
}

.account-name {
    font-size: 18px;
}

.account-mail {
    font-size: 15px;
}

.pp-body-content {
    padding-left: 30px;

}

.pp-body-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
}

.pp-body-title {
    margin-left: 8px;
}

.pp-body-dropdown {
    height: 0px;
    margin-left: 8px;
}
#dropdown{
    height: 0px;
    display: none;
}

.pp-footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.pp-footer-title {
    margin-left: 8px;
}

@keyframes dash {
    from {
        stroke-dashoffset: 922;
    }

    to {
        stroke-dashoffset: 0;
    }
}


/*NEW INFO CARDS*/
.cardd1 {
    font-family: 'poppins', sans-serif;
    width: 25%;
    height: 230px;
    background-color: #f4f4f4;
    box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.46);
    -webkit-box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.46);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    transition: 300ms ease-in-out;
    margin:20px;
    
}

.cardd1:hover {
    height: 320px;
    transform: translateY(-60px);

}

.cardimg {
    block-size: 140px;
    border-radius: 10px;
    transform: translateY(-50px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
    
}

.cardhead{
    overflow: hidden;
}

.cardhead h1 {
    font-size: 25px;

    padding-bottom: 10px;
    color: #379683;
    margin-bottom: 10px;
}

.footbtnns {
    background-color: #379683;
    color: #f4f4f4;
    font-weight: bold;
}

.contentt {
    opacity: 0;
    transition: 0.3s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    
}  

.cardd1:hover>.contentt {
    opacity: 1;

}

.footcardss {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #379683;
    height: 300px;
    width: 100%;
}

.waves {
    margin: -10px;
}

.infobtns
{
 padding-top: 10px;
 padding-left: 20px;
 padding-right: 20px;
}