/*IMPORTS*/
@import url('https://fonts.googleapis.com/css2?family=Labrada:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*VARIABLES*/
:root {
    /*COLOUR_THEMES*/
    --font: #05386B;
    --theme: #379683;
    --dtheme: #050706;
    --panel: #EDF5E1;
    --bg: #ffffff;
    --foot: #193326;

    /*IMAGE_LINKS*/
    --img1: url(1-removebg-preview.png);
    --img2: url(2-removebg-preview.png);
    --img3: url(3-removebg-preview.png);

    /*HEIGHTS_AND_WIDTHS*/
    --sec1h: ;
    --sec2h: ;
    --sec3h: ;
    --introh: ;
}

/*UNIVERSAL*/
* {
    margin: 0px;
    padding: 0px;
    transition: 0.7s;
    
}

body {
    background-color: var(--bg);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/*SIDEBARS*/
.panel {
    position: fixed;
    top: 0px;
    right: -40%;
    background-color: var(--panel);
    z-index: 1;
    width: 25%;
    display: flex;
    flex-direction: column;
    font-family: 'poppins', sans-serif;
}

/*settings*/
.settings-panel {
    height: 100%;
}

.sp-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 30px;
    font-weight: 300;
}

.sp-body {
    display: flex;
    flex-direction: column;
}

.sp-block {
    margin-left: 20px;
    margin-top: 10px;
    width: 100%;
    height: auto;
}

.sp-block-head {
    font-size: 20px;
    font-weight: 300;
}

.toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.scopy {
    position: absolute;
    bottom: 5px;
    left: 5px;
}

/*PROFILE*/
.profile-panel {
    padding: 10px;
    top: 1%;
}

.pp-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 200px;
}

.pp-header-content {
    display: flex;
    flex-direction: column;
}

.account-dp {
    width: 40%;
    margin: auto;
}

.account-cred {
    width: 60%;
    margin: auto;
    flex-direction: column;
}

.pp-body {
    height: 50px;
}

.pp-body-head {
    display: flex;
    flex-direction: row;
}

.pp-footer {
    align-items: center;
    justify-content: center;
    height: 20px;
    margin: auto;
}

.pp-footer-content {
    display: flex;
    flex-direction: row;
}

/*MOBILE MENU PANEL*/
.menu-panel{
    width: 100%;
    height: 100%;
    background-color: var(--bg);
    color : var(--font);
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 1;
}
.menu-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    margin: auto;
}
.menu-link{
    margin: auto;
    font-size: 30px;
    font-family: 'poppins', sans-serif;
}


/*SECTION-1*/
.sec1 {
    height: var(--sec1h);
    position: absolute;
    top:0px;
    width: 100%;
    background: url(geomtric.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

/*HEADER*/
.head {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 80px;
    color: var(--font);
}
.menu{
    width: 0%;
    display: none;
}

.logo {
    width: 20%;
    font-size: 40px;
    font-family: 'Phudu', cursive;
    color: var(--theme);
}

.links {
    width: 40%;
    margin: auto;
    flex-direction: row;
    font-size: 17px;
    font-weight: bold;
    font-family: 'poppins', sans-serif;
}

.link {
    margin: auto;
    color: var(--font);
    border-radius: 30px;
}

.link:hover {
    color: #f4f4f4;
    cursor: pointer;
    background-color: #379683;
    border-radius: 30px;
    padding: 5px 20px;
}

.tools {
    width: 20%;
    margin-right: 20px;
}

.tool {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
}

.tool:hover {
    transform: translateY(-8px);
}

/*INTRO*/
.intro {
    position: absolute;
    top: 80px;
    width: 100%;
    color: var(--font);
    flex-direction: column;
    height: var(--introh);
    font-family: 'Phudu', cursive;
}

.intro-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.intro-left {
    width: 35%;
    flex-direction: column;
}

.intro-right {
    width: 60%;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;
}

.introimg {
    width: 90%;
}

/*INTRO_ANIMATION*/
.introimg {
    animation: intro_ani 15s ease infinite;
}

.intro-para-title {
    font-size: 60px;
    color: var(--font);
}

.intro-desc {
    font-size: 30px;
    margin-top: 20px;
    font-family: 'Neucha', cursive;
}

/*SEARCHBAR*/
.searchbar {
    margin-top: 80px;
    width: 90%;
    height: 50px;
    border-radius: 10px;
    border: 2px solid var(--theme);
    display: flex;
    flex-direction: row;
}

.search {
    width: 95%;
}

.search input {
    width: 100%;
    height: 10px;
    border-radius: 10px;
    border: none;
    padding: 20px;
    font-size: 20px;
}

.searchbar input:focus {
    outline: none;
}

.search-icon {
    width: 5%;
    display: flex;
    align-items: center;
    margin-right: 0.4%;
    margin-left: auto;
}

.downarrow {
    position: absolute;
    bottom: 10px;
    animation: bounce2 2s ease infinite;
}

/*SECTION 2*/
.sec2 {
    position: absolute;
    top: 100%;
    width: 100%;
    height: var(--sec2h);
    background-image: url(bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/*INFOCARDS*/
.info-blocks {
    width: 100%;
}

.footcardss {
    height: 600px;
    width: 100%;
}

.shortcut {
    font-family: 'Phudu', cursive;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 45px;
    margin-left: -3%;
    margin-right: 5%;
}

.cardd1 {
    font-family: 'poppins', sans-serif;
    width: 25%;
    height: 230px;
    background-color: #f4f4f4;
    box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.46);
    -webkit-box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.46);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    transition: 300ms ease-in-out;
    margin: 20px;
}
.cardd1:hover {
    height: 320px;
    transform: translateY(-60px);
}

.cardd1:hover>.contentt {
    opacity: 1;
}

.cardimg {
    block-size: 140px;
    border-radius: 10px;
    transform: translateY(-50px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}


.cardhead h1 {
    font-size: 25px;
    padding-bottom: 10px;
    color: #379683;
    margin-bottom: 10px;
}

.contentt {
    opacity: 0;
    transition: 0.3s;
    overflow: hidden;
    flex-direction: column;
    font-size: 18px;
}

.footbtnns {
    background-color: #379683;
    color: #f4f4f4;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.infobtns {
    padding: 10px;
}


/*SECTION 3*/
.sec3{
    position: absolute;
    top:200%;
    width: 100%;
    height: var(--sec3h);
    background-image: url(bg2.jpg);
    background-size: 100%;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.foot {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 25%;
    background-color: #edf5e167;
}
/*FOOTIMAGE*/
.footimg {
    justify-content: center;
    display: flex; 
    height: 75%;
    width: 100%;
}
.img_foot{
    width: 30%;
    display: flex;
    margin: auto;
}
.img_foot img{
    width: 100%;
}
.footerr1 {
    font-family: 'poppins', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    margin: auto;
}
.footerr1 p {
    margin-bottom: 10px;
}
.footerr1 h1 {
    font-size: 42px;
    color: #379683;
    margin-bottom: 10px;
}
.footertext {
    font-size: 16px;
    font-weight: bold;
}
.footbtn {
    padding: 10px 30px 10px 30px;
    background-color: var(--theme);
    width: fit-content;
    color: #f4f4f4;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
    box-shadow: 1px 7px 19px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 7px 19px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 7px 19px -4px rgba(0,0,0,0.75);
}
.footbtn:hover
{
transition: 300ms ease;
transform: translateY(-8px);
}

/*FOOTER*/
/*DISPLAY*/
.aboutus {
    font-family: 'poppins', sans-serif;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: auto;
    width: 30%;
}

.logofoot {
    font-family: 'Phudu', cursive;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #379683;
    width: 30%;
}

.hr1 {
    width: 18%;
    margin-top: 20px;
    margin-bottom: 20px;

}

.hr2 {
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;

}

.hr3 {
    width: 36%;
    margin-top: 20px;
    margin-bottom: 20px;

}

.aboutus p {
    font-size: 15px;

}

.quicklinks {
    font-family: 'poppins', sans-serif;
    margin-left: 90px;
    margin-top: 10px;
    margin-bottom: auto;
    width: 20%;
}

.contactus {
    font-family: 'poppins', sans-serif;
    margin-left: 90px;
    margin-top: 10px;
    margin-bottom: auto;
    margin-right: 50px;
    width: 20%;
}

.mail {
    block-size: 20px;
    margin-right: 10px;
    margin-top: -5px;
}

.email {
    display: flex;
    align-items: center;
    margin-left: 2px;
    margin-top: 10px;
}

.home {
    block-size: 23px;
    margin-right: 8px;
    margin-left: -1px;
    margin-top: -12px;
}

h4 {
    color: #088178;
}

.li {
    margin-top: 10px;

}

a {
    text-decoration: none;
    color: black;
}

/*

.footerr1 {
    font-family: 'poppins', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 23%;
}

*/